body {
  background-color: black;
}

.header {
  justify-content: center;
  display: flex;
  align-items: center;
}

.etch {
  color: white;
  font-size: 2.2 rem;
}

.sketch {
  color: red;
  font-size: 4rem;
}

.color {
  color: black;
  border-radius: 4px;
  background-color: aliceblue;
  display: inline;
  height: 10px;
  cursor: pointer;
  padding: 5px 5px;
  transition: 0.3s ease;
}

.random {
  color: white;
  cursor: pointer;
  padding: 5px 5px;
  transition: 0.3s ease;
}

.eraser {
  color: white;
}

.clear {
  color: white;
}
