body {
  background-color: black;
}

.header {
  justify-content: center;
  display: flex;
  align-items: center;
}

.etch {
  color: white;
  font-size: 2.2 rem;
}

.sketch {
  color: red;
  font-size: 4rem;
}
